@import url('./main-layout.css');
@import url('./views/person-form-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

vaadin-app-layout[primary-section="drawer"]::part(navbar) {
    background-color: #CFB87C;
    font-size: 16px;
}

.user-icon {
    margin-left: auto;
    display: flex;
}

.app-header {
    cursor: pointer;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.product-catalog-image {
    height: 20rem;
    max-width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


.column {
    float: left;
    width: 22.5%;
    padding: 1rem;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.product-container {
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* Columns */
.left-column {
    position: relative;
    width: 50%;
}

.left-column .product-image {
    width: 90%;
}

.right-column {
    width: 50%;
}

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-name {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.product-name-value {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.product-info {
    height: 20rem;
}

.product-edit-button {
    margin-left: 1.5rem;
}

.product-stock {
    display: flex;
}

.product-stock-value {
    margin-right: 1rem;
}

.cart-button {
    margin-right: 1rem;
}

.cart-item {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 16rem;
    display: flex;
    margin: 0.5rem;
}

.cart-item-image {
    width: 18.75rem;
}

.cart-item-info {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
}

.cart-summary {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 4rem;
    display: flex;
    margin: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.total-cost-text {
    margin-left: 0.5rem;
    font-size: 18px;
    font-weight: 600;
}

.checkout-button {
    margin-right: 0.5rem;
}

.order-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 8rem;
}

.order-item-info {
    font-size: 1rem;
    padding: 0 0.5rem;
    font-weight: 600;
}